@charset 'utf-8';

@import './settings/sudo_settings';
@import 'foundation';
@import 'sudoweb';

@include foundation-everything();
@include sudo-override();





/*

Order:
- Settings
- Sudo Settings
- Foundation Import
- Sudo Import
- Foundation Everything Mixin
- Sudo Override Mixin

 */

pre code.hljs  {
  display: block;
  padding: 40px;
  background-color: #f7f8f9;
  border: none;
  border-radius: 5px;
}

html, body {
  //background-color: $light-gray;
}
