//  Sudo Site Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Flexbox Utilities
//  20. Forms
//  21. Label
//  22. Media Object
//  23. Menu
//  24. Meter
//  25. Off-canvas
//  26. Orbit
//  27. Pagination
//  28. Progress Bar
//  29. Prototype Arrow
//  30. Prototype Border-Box
//  31. Prototype Border-None
//  32. Prototype Bordered
//  33. Prototype Display
//  34. Prototype Font-Styling
//  35. Prototype List-Style-Type
//  36. Prototype Overflow
//  37. Prototype Position
//  38. Prototype Rounded
//  39. Prototype Separator
//  40. Prototype Shadow
//  41. Prototype Sizing
//  42. Prototype Spacing
//  43. Prototype Text-Decoration
//  44. Prototype Text-Transformation
//  45. Prototype Text-Utilities
//  46. Responsive Embed
//  47. Reveal
//  48. Slider
//  49. Switch
//  50. Table
//  51. Tabs
//  52. Thumbnail
//  53. Title Bar
//  54. Tooltip
//  55. Top Bar
//  56. Xy Grid

@import '../util/util';

// 1. Global
// ---------

$global-lineheight: 1.28;
$foundation-palette: (
  primary: #7291ff,
  secondary: #4b4b4b,
  success: #6bd584,
  warning: #ffae00,
  alert: #f34f29,
);
$sudo-gradient-palette: (
    "fanta": (
        rgb(250,101,47),
        rgb(240,55,89)
    ),
    "sudo": (
        #8b53ff,
        #4da4ff
    ),
    "lime": (
        #8ebd39,
        #2e8c12
    ),
    "sudobg": (
        rgba(145,26,255,1),
        rgba(61,193,255,1)
    )
);
$body-font-family: 'Camphor', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$global-radius: 5px;
$font-directory: "/assets/fonts/";

// 4. Base Typography
// ------------------

$header-font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

// 11. Button
// ----------

$button-background-hover: scale-color($button-background, $lightness: 15%);
$button-color-alt: #7291ff;
$button-background-hover-lightness: 15%;


// 13. Callout
// -----------

$callout-border: none;
$callout-margin: 0 0 1rem 0;
$callout-padding: 2rem 4rem;