@mixin sudo-callouts {
  .callout {
    display: block;
    border: 0;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    box-shadow: 0 15px 35px rgba(50,50,93,.05), 0 5px 15px rgba(0,0,0,.07);

    //& > :last-child {
    //  margin-bottom: inherit;
    //}

    &.border-top {
      border-top: 3px solid $primary-color;

      @each $name, $color in $foundation-palette {
        &.#{$name} {
          border-color: $color;
        }
      }
    }

    @each $name, $color in $foundation-palette {
      &.#{$name} {
        color: (darken($color, 20), -20);
      }
    }
  }

  a.callout {
    display: block;
    &:hover {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
      -webkit-box-shadow: 0px 3px 40px 0px rgba(20, 72, 96, 0.12), 0px 14px 40px 0px rgba(20, 72, 96, 0.12);
      box-shadow: 0px 3px 40px 0px rgba(20, 72, 96, 0.12), 0px 14px 40px 0px rgba(20, 72, 96, 0.12);
    }
  }
}